$fuente: "Roboto";
$primary: #1e1e1e;
$background: crimson;
$bg-cards: #fafafa;

body {
    font-family: $fuente, sans-serif;
    background-color: $background;
}
.jumbotron {
    background-color: $bg-cards;
    color: $primary;
}
main{
    color: $bg-cards;
}
.img-main{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
footer{
    padding: 3rem 10rem 0 10rem;
    color: $background;
    margin-top: 4rem;
    background-color: $bg-cards;
}
.p-large{
    padding: 4rem;
    width: 50%;
}

@media (max-width: 900px) {
    .p-large{
        width: 90%;
    }
}
footer a{
    font-size: 18px;
    margin-top: 1rem;
    color: $background;
}
footer a:hover{
    color: $primary;
    text-decoration: none;
}
.card-vr{
    flex: 1 20em;
    margin: .5rem .5rem;
    padding: 2rem 2rem;
    background-color: $bg-cards;
    border-radius: 10px;
}
.button-w{
    width: 100%;
}
.img-section{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
section button{
    width: 100%;
}